
header{
    background: rgb(53, 49, 49);
    margin: 0;
 }
.header-main{
align-content: center;
vertical-align: middle;
padding: 0px;
margin:0px;
}
.text-header{
    color: rgb(27, 147, 151);
     }
.name{
    font-size: 300%;
    font-size-adjust: auto;
}
.position{
    font-size: x-large;
    font-size-adjust: auto;
}
.info{
    font-size: large;
    font-size-adjust: auto;
    margin-left: auto;
    margin-right: auto;
}

.list-no-bullets{
    list-style-type:none;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: rgb(27, 147, 151);
}
.icon{
    width: 1.5em;
    height: auto;
 }
#photo{
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    }
 @media screen and (min-width:992px){
    .list-no-bullets{
        position: absolute;
        top: 300%;
        left: 20%;    
    }
    #photo{
        width:320px ;
    }
    
     
 }
 @media screen and(min-width:768px){
    #photo{
        width:250px ;
    }
 }
 @media screen and(max-width:767px){
    #photo{
        width:200px ;
    }
 }
 .container
 {
     padding-left: 0;

 }
 .text{
    font-size: 1.2em;  
 }
 .text-exp{
     color:white ;
 }
 .expierience-backgr{
background-color:rgb(53, 49, 49);
background-repeat: no-repeat;
background-size: cover;
    
 }
 .right-panel{

 }
 #timeline-content {
    margin-top: 50px;
    text-align: center;  
  }
  
  /* Timeline */
  
  ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}